body {
    font: 14px "Arial", serif;
    color: #333333;
}

a {
  color: #333333;
}

a:visited {
  color: #333333;
}

a:hover {
  color: #7b7b7b;
}

h1 {
  color: blue;
  font-size: 16px;
}

h2 {
  color: green;
}

/*--------------------------
Header
--------------------------*/

.head {
  border-bottom: 1px #e0e0e0 solid;
}

.top-left {
    margin: 20px 20px 0 20px;
}

.top-left li,
.top-right li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 0;
}

.top-right img {
    width: 30px;
    height: 30px;
}

.logo {
  width: 100px;
  vertical-align: top;
  margin: 5px 20px 0 0;
}

.search-bar-top {
  display: inline-block;
  width: 33%;
}

.tools-left li,
.tools-right li {
  padding: 0 10px 10px 10px;
}

.tools-left {
  float: left;
}

.tools-right {
  float: right;
}

/*--------------------------
Footer
--------------------------*/

.clearfix {
  overflow: auto;
}

.footer-container {
  color: #f1f1f1;
  background-color: #f1f1f1;
}

.location {
  color: #929292;
  padding: 15px 0 15px 20px;
  border-bottom: gray 1px solid;
}

.bottom-left {
    margin: 15px 20px 0 20px;
    float: left;
    background-color: #f1f1f1;
    margin-bottom: 15px;
}

.bottom-right {
    margin: 15px 20px 0 20px;
    float: right;
}

.bottom-left li,
.bottom-right li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

/*--------------------------
Homepage
--------------------------*/

.middle {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

.middle img {
    display: block;
    margin: 0 auto 25px auto;
}

.search-button {
    padding: 10px;
    margin: 5px;
    color: #4a4a4a;
    background-color: #efefef;
    border: #efefef 1px solid;
}

/*--------------------------
Searching
--------------------------*/

.search-bar {
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
    background: url("../images/mic.png") no-repeat;
    background-size: 14px 20px;
    background-position: 95%;
    border: #e2e2e2 1px solid;
    border-radius: 20px;
    padding-left: 20px;
}

/*--------------------------
Search page
--------------------------*/

.column {
  margin-left: 150px;
}

.results-amount {
  margin: 10px 0 20px 0;
}

.result {
  width: 33%;
  margin: 0 0 30px 5px;
  margin-left: 5px;
}
